.content-component {
    padding: 25px 20px;

    .flex {
        @include flexbox(center, row nowrap, space-between);
    }

    .content-textarea {
        appearance: none;
        border: 1px solid color(darkgrey);
        padding: 5px 10px;
        min-height: 150px;
        width: 100%;
    }
    
    .content-textarea,
    label {
        color: color(black);
        font: {
            family: $OS;
            size: calculateRem(12px);
        }
    }

    label {
        max-width: 65px;
    }

    input {
        border: 1px solid color(black);
        padding: 5px;
        width: cp(195, 288);
    }
}