//Mobile first 
.eb-module {
    position: relative;
    margin-bottom: 15px;

    &.eb-module-empty {
        background: rgba(222,242,250,.85);
        outline: #2FAADE dashed 1px;
        outline-offset: -1px;
        min-height: 50px;

        &:before {
            content: attr(data-label);
            font-size: 13px;
            color: #2FAADE;
            display: block;
            line-height: 20px;
            padding: 20px;
        }
    }

    &.eb-insert-before,
    &.eb-insert-after {
        &:after {
            @include font-styles($OS, 12px, false);
            content: "Drag it here";
            color: color(blue);
            position: absolute;
            left: 50%;
            font-style: italic;
            height: 15px;
            width: auto;
        }
        
    }

    &.eb-insert-before {
        &:after {
            top: -15px;
        }
    }

    &.eb-insert-after {
        &:after {
            bottom: -15px;
        }
    }
}
// 568+
@media only screen and (min-width: 568 / 16 * 1em) {
	
}

// 768+
@media only screen and (min-width: 768 / 16 * 1em) {

}

// 1024+
@media only screen and (min-width: 1024 / 16 * 1em) {
    
}