.tools {
    border: 1px solid transparent;
    border-left-color: color(darkgrey);
    padding: 30px;
    padding-right: 15px;
    max-height: 700px;
    overflow-y: scroll;
    width: cp(390, 1230);

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background: color(darkgrey);
    }

    .content {
        padding: 20px 0;
    }
}

.tools-nav {
    @include flexbox(center, row nowrap, space-between);
    list-style: none;
    width: 100%;

    li {
        border-bottom: 1px solid color(darkgrey);
        padding: 15px 0;
        text-align: center;
        width: 100%;

        &.active {
            border: 1px solid color(darkgrey);
            border-bottom: transparent;
        } 

        a {
            color: color(darkgrey);
            font: {
                family: $OS;
            }
        }
    }
}

.content-tools {
    label,
    input {
        display: block;
    }

    .options {
        .btn {
            text-transform: capitalize;
            margin: 25px auto;
            max-width: 85px;
        }
    }
}

.tools-collapse {
    list-style: none;

    .toggle {
        position: absolute;
        top: 13px;
        right: 28px;
        height: 15px;
        width: 15px;

        &:hover {
            cursor: pointer;
        }

        &:before,
        &:after {
            background: color(darkgrey);
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 14px;
        }

        &:after {
            transform: rotate(90deg);
        }

        &.active {
            &:after {
                transform: rotate(0deg);
            }
        }
    }

    .title {
        display: block;
        padding: 10px 20px;
        position: relative;
        font: {
            family: $OS;
            size: calculateRem(12px);
            weight: 600;
        }
    }

    .inner-content {
        display: none;
        list-style: none;

        &.active {
            display: block;
        }

        .inner-item {
            border: 0 !important;
        }
    }

    .collapse-item {
        border-top: 1px solid color(darkgrey);  

        &:last-child {
            border-bottom: 1px solid color(darkgrey);
        }
    }
}

.type-of-element {
    background: color(grey);
    color: color(black);
    padding: 13px 0;
    font: {
        family: $OS;
        size: calculateRem(12px);
    }
    text-align: center;
    text-transform: uppercase;
}

.input-container {
    @include flexbox(center, row nowrap, space-between);
    padding: 25px 20px;
    
    label {
        color: color(black);
        font: {
            family: $OS;
            size: calculateRem(12px);
        }
        max-width: 65px;
    }

    input {
        border: 1px solid color(black);
        padding: 5px;
        width: cp(195, 288);
    }
}

.range {
    padding: 25px 0;

    .irs {
        position: relative;
        margin: 0 auto;
        max-width: 200px;
    }

    .irs-line {
        background: #a3a3a3;
        height: 4px;
    }

    .irs-single {
        top: -6px;
        
        &:before {
            background: color(grey);
            border-radius: 50%;
            content: "";
            display: block;
            margin: 0 auto;
            height: 15px;
            width: 15px;
        }
    }

    .flex {
        @include flexbox(center, row nowrap, space-between);
        padding-top: 25px;

        label,
        input {
            color: color(black);
            font: {
                family: $OS;
                size: calculateRem(12px);
            }
        }
    }
}

.alignment {
    @include flexbox(flex-start, row wrap, space-between);
    padding: 25px 0;

    .alignment_item {
        padding-bottom: 20px;
        width: 50%;

        &:nth-last-child(2), 
        &:nth-last-child(1) {
            padding-bottom: 0;
        } 
    }
}

.spacing {
    padding: 25px 0 0 0;

    .number-component {
        @include flexbox(center, row nowrap, flex-start);
        padding-bottom: 25px;
        max-width: none;

        .flex {
            width: cp(77, 303);
        }

        label {
            display: block;
            padding-right: 100px;
            width: 50%;
        }
    }
}

.number-component {
    @include flexbox(center, row nowrap, space-between);
    max-width: 105px;

    .flex {
        @include flexbox(center, row nowrap, space-between);
        padding: 0;
    }

    .controls {
        border: 1px solid color(darkgrey);
        position: relative;
        height: 15px;
        width: 15px;

        &.minus,
        &.plus {
            &:before,
            &:after {
                background: color(darkgrey);
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }

        &.minus {
            &:after {
                display: none;
            }

            &:before {
                @include transform(-50%, -50%);
                height: 2px;
                width: 8px;
            }
        }

        &.plus {
            &:after {
                @include transform(-50%, -50%);
                height: 8px;
                width: 1px;
            }

            &:before {
                @include transform(-50%, -50%);
                height: 2px;
                width: 8px;
            }
        }
    }

    label {
        font: {
            family: $OS;
            size: calculateRem(12px);
            weight: 400;
        }
        padding-right: 20px;
    }

    input {
        -webkit-appearance: none;
        max-width: 47px;
        text-align: center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }
    }
}

.styled-checkbox {
    position: absolute; // take it out of document flow
	opacity: 0; // hide it
	
	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
	}

	// Box.
	& + label:before {
		border: 1px solid color(darkgray);
		content: '';
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-top;
		width: 15px;
		height: 15px;
		background: white;
	}

	// Checkmark. Could be replaced with an image
	&:checked + label:after {
		content: '';
		position: absolute;
		left: 2px;
		top: 6px;
		background: color(darkgray);
		width: 2px;
		height: 2px;
		box-shadow: 
		2px 0 0 color(darkgray),
		4px 0 0 color(darkgray),
		4px -2px 0 color(darkgray),
		4px -4px 0 color(darkgray),
		4px -6px 0 color(darkgray),
		4px -8px 0 color(darkgray);
		transform: rotate(45deg);
	}
}