.layout-tools {
    .heading {
        padding-bottom: 30px;

        h2 {
            @include font-styles($OS, 12px, false);
            font-style: italic;
        }
    }   
}

.layout-blocks {
    .block {
        padding-bottom: 30px;

        &:last-child {
            padding-bottom: 0;
        }
    }
}