<div class="title">
	Alignment
	<div class="toggle"></div>

	<div class="inner-content">
		<div class="inner-item alignment">
			<form class="radio flex">
				<div class="radio-item">
					<input class="styled-radio" type="radio" id="top" name="selector">
					<label for="top">Top</label>
				
					<div class="check"></div>
				</div>
				
				<div class="radio-item">
					<input class="styled-radio" type="radio" id="bottom" name="selector">
					<label for="bottom">Bottom</label>
				
					<div class="check"></div>
				</div>
			</form>
			
			<form class="radio flex">
				<div class="radio-item">
					<input class="styled-radio" type="radio" id="left" name="selector">
					<label for="left">Left</label>
				
					<div class="check"></div>
				</div>

				<div class="radio-item">
					<input class="styled-radio" type="radio" id="right" name="selector">
					<label for="right">Right</label>
				
					<div class="check"></div>
				</div>
			</form>

			<form class="radio flex">
				<div class="radio-item">
					<input class="styled-radio" type="radio" id="cver" name="selector">
					<label for="cver">Center vertically</label>
			
					<div class="check"></div>
				</div>
			
				<div class="radio-item">
					<input class="styled-radio" type="radio" id="chor" name="selector">
					<label for="chor">Center horizontally</label>
			
					<div class="check"></div>
				</div>
			</form>
		</div>
	</div>
</div>