<!-- <div class="row">
  <div class="col-xs-12">
    <ul class="nav nav-pills">
      <li routerLinkActive="active">
        <a [routerLink]="['collection']">Collections</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['market']">Market</a>
      </li>
    </ul>
  </div>
</div> -->

<header class="site-header">
	<div class="menu wrapper">
		<h1>Email Builder</h1>
		
		<nav class="desktop-nav">
			<a class="btn grey_border" href="#">Preview</a>
			<a class="btn grey_border" href="#">Download</a>
			<a class="btn blue" href="#">Save</a>
		</nav>
	</div>
</header>