<div class="container">
	<app-header></app-header>

	<main class="main">
		<div class="email wrapper">
			<iframe class="result" src="" frameborder="0">
				<!DOCTYPE html>
				<html>
				<head>
					<meta charset="utf-8" />
					<meta http-equiv="X-UA-Compatible" content="IE=edge">
					<title></title>
					<meta name="viewport" content="width=device-width, initial-scale=1">
					<style>
					
					</style>
				</head>
				<body>
					<!-- E-MAIL START HERE -->

					<!-- E-MAIL END HERE -->
				</body>
				</html>
			</iframe>

			<div class="tools">
				<app-tools-nav></app-tools-nav>
				
				<router-outlet></router-outlet>

				<div class="layout_tool" style="display: none;">
			
				</div>
			
				<div class="content_tool active">
			
				</div>
			
				<div class="settings_tool" style="display: none;">
			
				</div>
			</div>
		</div>
	</main>
</div>