<div class="content-tools">
	<h2 *ngIf="element_props" class="type-of-element"> {{ element_props.tagName }} options</h2>

	<div class="options">
		<a href="#" class="btn blue">Load Image</a>

		<div class="input-container">
			<label for="src">
				Image SRC:
			</label>

			<input type="text">
		</div>

		<div class="tools-collapse">
			<div class="collapse-item">
				<app-size></app-size>
			</div>

			<div class="collapse-item">
				<app-alignment></app-alignment>
			</div>

			<div class="collapse-item">
				<app-spacing></app-spacing>
			</div>
		</div>
	</div>
</div>