<div class="content-tools">
	<h2 class="type-of-element">Image options</h2>

	<div class="options">
		<a href="#" class="btn blue">Load Image</a>

		<div class="input-container">
			<label for="src">
				Image SRC:
			</label>

			<input type="text">
		</div>

		<ul class="tools-collapse">
			<li>
				<span class="title">
					Size <span class="toggle"></span>

					<ul class="inner-content">
						<li class="range">
							<input id="range" type="range" value="0">
					
							
							<app-number-component></app-number-component>
						</li>
					</ul>
				</span>
			</li>
		</ul>
	</div>
</div>