<div class="title">
	Size
	<div class="toggle"></div>

	<div class="inner-content size" *ngIf="element">
		<input class="styled-range" id="range" type="range" name="range" value="{{element.clientWidth}}" (change)="onRangeChange()">

		<div class="flex">
			<app-number-component label="Width" [value]="element.clientWidth" (onValueChanged)="onWidthChange($event)"></app-number-component>
			<app-number-component label="Height" [value]="element.clientHeight" (onValueChanged)="onHeightChange($event)"></app-number-component>
		</div>
	</div>
</div>