<div class="content-component" [ngSwitch]="current_element[0].tagName">
	<div *ngSwitchCase="'IMG'">
		<a href="#" class="btn blue">Load Image</a>
		
		<div class="flex">
			<label for="src">
				Image SRC:
			</label>
		
			<input type="text" name="src" [(ngModel)]="current_element[0].src">
		</div>
	</div>

	<div *ngSwitchDefault>
		<div *ngIf="current_element[0].tagName === 'A'">
			<input type="text" name="href" [(ngModel)]="current_element[0].href">
		</div>

		<textarea class="content-textarea" name="textContent" id="textContent" [(ngModel)]="current_element[0].textContent"></textarea>
	</div>
</div>