.site-header {
    @include box-shadow(0, 1px, 19px, -4px, color(black), 0.75); 
    border-bottom: 1px solid color(darkgrey); 
} 

.menu {
    @include flexbox(center, row nowrap, space-between);
    padding: 20px 0; 

    h1 {
        font: {
            family: $OS;
            size: calculateRem(12px);
            weight: bold;
        }
        text-transform: uppercase;
    }

    .desktop-nav {
        @include flexbox(center, row nowrap, space-between);
        width: cp(320, 1230);

        a {
            width: cp(85, 320);
        }
    }
}