.container {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
}

.wrapper {
    margin: 0 auto;
    max-width: 1230px;
}

.ng_selected_item {
    outline: 1px solid color(pink) !important;
}