.container {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
}

.wrapper {
    margin: 0 auto;
    max-width: 1230px;
}

font {
    &.ng_selected_item,
    &.ng_hovered_item {
        display: block;
    }
}


.ng_selected_item {
    outline: 1px solid color(pink) !important;
}

.ng_hovered_item {
    outline: 1px solid color(blue);
}