.container {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
}

.wrapper {
    margin: 0 auto;
    max-width: 1230px;
}

font {
    &.eb-selected-item,
    &.eb-hovered-item {
        display: block;
    }
}


.eb-selected-item {
    outline: 1px solid color(pink) !important;
}

.eb-hovered-item {
    outline: 1px solid color(blue);
}