<section class="site_section create_layout">
    <h2>Create</h2>
    <form action="/layout/create" method="POST">
        <textarea name="body" id=""></textarea>
        <input type="submit" value="Create">
    </form>
</section>