<div class="layout-tools">
  <div class="heading">
    <h2>simply drag any of the building elements to the right side.</h2>
  </div>

  <div class="layout-blocks">
      <div class="block">
          <div class="draggable drag-drop" id="yes-drop" data-block="header">
              <img src="../../../assets/images/layout/email-builder-1_03.jpg" 
                alt="block_one">
            </div>
      </div>
      
      <div class="block">
          <div class="draggable drag-drop" id="yes-drop" data-block="three-columns">
              <img 
              src="../../../assets/images/layout/email-builder-1_06.jpg" 
              alt="block_two">
          </div>
      </div>
  </div>
</div>