<div class="layout-tools">
  <div class="heading">
    <h2>simply drag any of the building elements to the right side.</h2>
  </div>

  <div class="layout-blocks">
    <div data-type="header" class="block header" draggable="true">
      <img src="/assets/images/layout/email-builder-1_03.jpg" alt="header">
    </div>

    <div data-type="two-columns" class="block two-columns" draggable="true" >
      <img src="/assets/images/layout/email-builder-1_06.jpg" alt="two-columns">
    </div>

    <div class="block block3" draggable="true">
      <img data-type="block3" src="/assets/images/layout/email-builder-1_08.jpg" alt="block3">
    </div>

    <div class="block block4" draggable="true">
      <img data-type="block4" src="/assets/images/layout/email-builder-1_10.jpg" alt="block4">
    </div>

    <div data-type="three-columns" class="block three-columns" draggable="true">
      <img src="/assets/images/layout/email-builder-1_12.jpg" alt="block5">
    </div>
  </div>
</div>