<div class="title">
	Spacing
	<div class="toggle"></div>

	<div class="inner-content" *ngIf="element">
		<div class="spacing">
			<app-number-component label="Top" [value]="0" (onValueChanged)="onPaddingTopChanged($event)"></app-number-component>
			<app-number-component label="Bottom" [value]="0" (onValueChanged)="onPaddingBottomChanged($event)"></app-number-component>
			<app-number-component label="Left" [value]="0" (onValueChanged)="onPaddingLeftChanged($event)"></app-number-component>
			<app-number-component label="Right" [value]="0" (onValueChanged)="onPaddingRightChanged($event)"></app-number-component>
		</div>
	</div>
</div>