// SASS VARIABLES

//Fonts
$OS: 'Open Sans', sans-serif;

// SASSS Maps.
// Output with map-get($colors, ...). Check _functions.scss.
// Usage: .foo { color: color(white); // #fff }
$colors: (
    black: #000,
    white: #fff,
    grey: #cccccc,
    lightgrey: #f1f1f1,
    darkgrey: #969696,
    blue: #3b97db,
    pink: #d620d6,
    red: #ff3535
);

